@import "./_variables";
@import "./_globals";

body {
    font-size: 14pt;
    font-family: $font1;
}

header.main-header {
    width: 100%;
    border-bottom: 3px solid $grey;
    margin-bottom: $spacing;
    h1.site-header {
        display: block;
        width: 100%;
        text-align: center;
        font-family: $font1;
        font-size: 1.4em;
        text-align: center;
        text-transform: uppercase;
        margin: 30px 0px 20px 0px;
    }
    nav.main-nav {
        @include flex-between();
        width: $page-width;
        margin: 0px auto 10px auto;
        ul.main-nav__main-menu {
            @include flex-evenly();
            margin: 0px;
            padding: 0px;
            height: 33px;
            li {
                list-style: none;
                padding: 0px 20px;
                a {
                    position: relative;
                    outline: none;
                    color: black;
                    font-size: 1em;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding-bottom: 5px;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        height: 2px;
                        background-color: $grey;
                        transition: 0.3s;
                        width: 0px;
                    }
                    &:visited {
                        color: black;
                    }
                    &:hover:after {
                        width: 100%;
                    } 
                }
            }
        }
        a.icon-link {
            width: 33px;
            height: 33px;
            text-decoration: none;
            background-repeat: no-repeat;
            img {
                width: 33px;
                height: 33px;
            }
        }
    }
}

.large-block-holder {
    display: flex;
    justify-content: space-between;
    max-width: $page-width;
    margin: 0px auto $spacing auto;
    &__block {
        flex: 1;
        max-width: 49%;
        height: auto;
        overflow: hidden;
        max-height: 570px;
    }
    .block--image {
        img {
            max-width: 100%;
            height: 100%;
        }
    }
    .block--text {
        a {
            @include flex-center-text();
            justify-content: space-around;
            flex: 1;
            width: 100%;
            height: 100%;
            background-color: $green;
            text-decoration: none;
            color: white;
        }
        h2.main-text {
            text-transform: uppercase;
            font-family: $font1;
            font-size: 4em;
            max-width: 400px;
            text-align: center;
            line-height: 1em;
            margin: 40px 0px 30px 0px;
            letter-spacing: 15px;
        }
        .sub-text {
            display: block;
            max-width: 400px;
            text-align: center;
            font-family: $font2;
            font-size: 1.4em;
            font-style: italic;
        }
    }
    .text__content {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 100%;
            width: 15%;
            left: 42.5%;
            height: 1px;
            background-color: white;
        }
    }
}

.small-block-holder {
    @include flex-between();
    position: relative;
    flex-wrap: wrap;
    max-width: $page-width;
    margin: 0px auto 0px auto;
    &__block {
        position: relative;
        width: 32%;
        min-width: 350px;
        min-height: 400px;
        background-size: cover;
        margin-bottom: 20px;
        .block__text-holder {
            position: absolute;
            bottom: 5%;
            left: 5%;
            width: 90%;
            padding: 5px;
            background-color: white;
            box-sizing: border-box;
            .text-holder__border {
                @include flex-center-text();
                width: 100%;
                height: 100%;
                border: 1px solid $grey;
                padding: 20px 0px;
            }
        }
    }
    .block--image1 {
        background-image: url(../images/thomas-ae-602202-unsplash.jpg);   
        background-position: center; 
    }
    .block--image2 {
        background-image: url(../images/beatriz-perez-moya-191993-unsplash.jpg);    
    }
    .block--image3 {
        background-image: url(../images/tom-the-photographer-651516-unsplash.jpg);    
        background-position: center;
    }
}

.text-break {
    max-width: $page-width;
    text-align: center;
    margin: 60px auto;
    .text-break__main-header {
        color: black;
        font-size: 1.1em;
    }
}

.favourites {
    @include flex-between();
    .small-block-holder__block {
        width: 24%;
        min-width: 240px;
        min-height: 330px;
        background-position: bottom;
        margin-bottom: 60px;
        .block__text-holder {
            top: 80%;
            left: 0;
            width: 100%;
            height: 20%;
            padding: 5px;
            background-color: white;
            box-sizing: border-box;
            .text-holder__border {
                @include flex-center-text();
                border: none;
                padding: 10px 0px;
                .main-header {
                    font-size: 0.8em;
                    color: black;
                    margin: 15px 0px 5px 0px;
                    line-height: 1em;
                }
                .sub-header {
                    font-family: $font1;
                    font-style: normal;
                    font-weight: bold;
                    .old-price {
                        text-decoration: line-through;
                    }
                    .new-price {
                        color: $green;
                    }
                }
            }
        }
    }
    .favourites1 {
        background-image: url(../images/monika-grabkowska-664428-unsplash.jpg);  
    }
    .favourites2 {
        background-image: url(../images/tanalee-youngblood-344759-unsplash.jpg);  
    }
    .favourites3 {
        background-image: url(../images/alexandra-gorn-328026-unsplash.jpg);  
    }
    .favourites4 {
        background-image: url(../images/christie-kim-769380-unsplash.jpg);  
    }
}

footer.main-footer {
    nav.footer-nav {
        text-align: center;
        width: 100%;
        border-top: 2px solid $grey;
        border-bottom: 2px solid $grey;
        padding: 9px 0px 4px 0px;
        ul {
            margin: 0px;
            li {
                display: inline;
                list-style-type: none;
                margin-right: 60px;
                &last-of-type {
                    margin-right: 0px;
                }
                a {
                    color: $grey-dark;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}