@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i|Martel+Sans:200|Raleway:200');

body {
    font-size: 21px;
}

h1.homepage {
    font-family: 'Martel Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 4.5em;
    text-align: center;
}

.sub-header {
    display: block;
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
    text-align: center;
}
